#index {
  background-color: #194192;
}
header {
  height: 80px;
  background: #254fa1;
}
div.news-entry {
  background-color: #254fa1;
  height: 300px;
  width: 585px;
  float: left
}
div.contact {
  height: 250px;
  background-color: #2879ba;
}
.inicial {
  background-color: #2879ba;
}
.primaria {
  background-color: #2d5fc1;
}
.secundaria {
  background-color: #254fa1;
}
.ingles {
  background-color: #1e4083;
}
#otras_actividades {
  background-color: #194192;
}
.arte {
  background-color: #254fa1;
}
.educacion_fisica {
  background-color: #2879ba;
}
.huerta {
  background-color: #2d5fc1;  
}
.musica {
  background-color: #254fa1;
}