
section.contacto img {
    margin-top: 45px;
}
.contact-us{
  margin-top: 10px
}
.contact-in {
    width: 300px;
    margin: 2px
}
.contact-ta {
  height: 115px;
  width: 300px;
  margin: 2px;
}
.contact h4 {
    font-family:'FuturaMdBTMedium';
    color: #254fa1;
    position: relative;
    top: 30px;
}

.contact h5 {
    font-family:'FuturaMdBTMedium';
    color: #254fa1;
}

