@import 'my-icons/*.png';
@include all-my-icons-sprites;

.my-icons-inicial {
    background-position: 0 -143px;
    height: 73px;
    width: 75px;
    display: inline-block;
}
.my-icons-primaria {
    background-position: 0 -73px;
    height: 73px;
    width: 75px;
    display: inline-block;
}
.my-icons-secundaria {
    background-position: 0 0px;
    height: 73px;
    width: 75px;
    display: inline-block;
}
.my-icons-ingles {
    background-position: 0 -219px;
    height: 73px;
    width: 75px;
    display: inline-block;
}

@import 'buttons/*.png';
@include all-buttons-sprites;

.buttons-mapa  {
    background-position: -2 -242;
    height: 121px;
    width: 121px;
    display: inline-block;
    margin-top: 30px;
}
.buttons-mural  {
    background-position: -2 -121;
    height: 121px;
    width: 121px;
    display: inline-block;
    margin-top: 30px;
}
.buttons-fotos  {
    background-position: 0 121;
    height: 121px;
    width: 121px;
    display: inline-block;
    margin-top: 30px;
}