div.icon {
    width: 75px; 
    height: 75px; 
    display: inline-block;
    margin-top: 30px;
    margin-left: 85px;
}
section.niveles p {
    width: 200px;
    margin-left: 25px;
}
section.niveles h3{
    margin-left: 25px;
}
section.niveles {
    height: 430px;
}
.inicial {
    background-color: #2879ba;
}
.primaria {
    background-color: #2d5fc1;
}
.secundaria {
    background-color: #254fa1;
}
.ingles {
    background-color: #1e4083;
}