div.icon {
    width: 75px; 
    height: 75px; 
    display: inline-block;
    margin-top: 30px;
    margin-left: 85px;
}
section.niveles p {
    width: 200px;
    height: 190px;
    margin-left: 25px;
    font-family:'FuturaBkBTBook';
    color: white;
}
section.niveles h3{
    margin-left: 25px;
    font-family:'FuturaMdBTMedium';
    color: white;
}


