@import 'fonts.css';
.newentry {
    position: absolute;
}

figure {
    margin-left: 30px;
    margin-top: 60px;
}
div.new-img {
    width: 250px;
    padding-left: 0;
}
.new-img img{
    width: 200px;
}
.noticia {
    position: relative;
    left: 260px;
    bottom: 175px;
}
.noticia h3 {
    font-family:'FuturaMdBTMedium';
    color: white;
}
.noticia p {
    width: 260px;
    font-family:'FuturaBkBTBook';
    color: white;
}
