.arte h3 {
  font-family:'FuturaMdBTMedium';
  color: white;
}
.arte h4{
  font-family:'FuturaMdBTMedium';
  color: white;
}
.arte p{
  font-family:'FuturaBkBTBook';
  color: white;
}
.arte img {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}
.educacion_fisica h3 {
  font-family:'FuturaMdBTMedium';
  color: white;
}
.educacion_fisica p{
  font-family:'FuturaBkBTBook';
  color: white;
}
.educacion_fisica img {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}
.huerta h3 {
  font-family:'FuturaMdBTMedium';
  color: white;
}
.huerta h4{
  font-family:'FuturaMdBTMedium';
  color: white;
}
.huerta p{
  font-family:'FuturaBkBTBook';
  color: white;
}
.huerta img {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}
.huerta li{
  font-family:'FuturaBkBTBook';
  color: white;
}
.musica h3 {
  font-family:'FuturaMdBTMedium';
  color: white;
}
.musica p{
  font-family:'FuturaBkBTBook';
  color: white;
}
.musica img {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}
